.final-team{
    margin: 5px;
    padding: 5px;
    border: 1px solid yellowgreen;
    border-radius: 10px;
}
.final-team h3{
    text-align: center;
    color: rgb(65, 52, 35);
}
.final-team h6{
    word-wrap:break-word;
}
.final-team h6 span{
    color:rgb(38, 84, 129);
    
}